<!-- Start the layout of the doc -->
<div layout="row" style="height:100%">

  <!-- LHS -->
  <md-sidenav id="navframe" layout="column" class="md-sidenav-left"
              md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
              ng-swipe-left="contentCtrl.toggleSidenav('left')">

    <md-toolbar class="skroll-toolbar">
      <!-- <sk-search ng-controller="SearchCtrl as ctrl" feature-flag="search.old" /> -->
  <!--       <input name="searchInput" placeholder="Search" ng-model="contentCtrl.searchState.searchText"/>
          <md-icon md-svg-icon="images/icons/ic_search_48px.svg" class="search-icon">
          </md-icon>
   -->

      <div layout="row" layout-align="space-between center">
        <md-icon md-svg-icon="images/icons/ic_search_48px.svg" class="search-icon" style="margin-left: 10px; margin-right: 10px">
        </md-icon>
         <md-input-container md-theme="default-dark" md-no-float style="padding-bottom: 12px; width:100%" >
             <input type="search"
                    name="searchInput"
                    autocomplete="off"
                    ng-model="contentCtrl.searchState.searchText"
                    ng-keydown="searchCtrl.onKeyDown($event)"
                    ng-keyUp="searchCtrl.onKeyUp($event, contentCtrl.searchState.searchText)"
                    placeholder="Search"
           />
         </md-input-container>
        <button type="button" tabindex="-1" style="position: relative;
            line-height: 20px; text-align: center; width: 30px; height: 30px; cursor: pointer; border: none; border-radius: 50%; padding: 0; font-size: 12px; background: 0 0; margin: auto 5px;"
            ng-show="contentCtrl.searchState.searchActive" ng-click="contentCtrl.searchState.clear()">
          <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-hidden="true"></md-icon>
        </button>
      </div>

    </md-toolbar>

    <md-content md-scroll-y flex class="md-padding" ng-controller="LHSLevelsCtrl as lhsCtrl" ng-hide="lhsCtrl.searchState.searchActive" >
      <sk-lhs ng-hide="!contentCtrl.documentModel.isTocLoaded"/>
    </md-content>
  <md-content ng-keydown="searchCtrl.onKeyDown($event)" ng-show="contentCtrl.searchState.searchActive">
     <sk-search />
  </md-content>

  </md-sidenav>
  <!-- end sidebar -->

  <!-- content -->
  <div layout="column" flex>

    <md-toolbar id="toolbar" class="skroll-toolbar">
      <sk-toolbar />
    </md-toolbar>

    <iframe id="docViewIframe"
      scrolling="yes"
      frameborder="0"
      noborder="noborder"
      style="overflow: hidden;-webkit-overflow-scrolling: touch;"
      src="about:blank"
      sk-content>
    </iframe>

<!--     <md-content id="skrollport">
      <div layout="row" flex>
        <div id="leftcurtain" hide-sm>
        </div>

        <div id="content" style="width:100%">
          <iframe id="docViewIframe" class="md-whiteframe-z3"
            width="100%"
            scrolling="no"
            frameborder="0"
            noborder="noborder"
            style="overflow: hidden"
            src="about:blank"
            layout-padding sk-content>
          </iframe>
        </div>
        <div hide-sm hide-md>
        </div>

      </div>
    </md-content>
 -->
  </div>
  <!-- end content -->

  <!-- right sidenav -->
  <md-sidenav layout="column" class="md-sidenav-right"
              md-component-id="right" md-is-locked-open="false" >

    <md-content>
      <pre id="rightPane"></pre>
    </md-content>

  </md-sidenav>


  <!-- end sidebar -->

</div>
<!-- end layout