<!-- Start the layout of the doc -->
<div layout="row" style="height:100%">

  <!-- LHS -->
  <md-sidenav id="navframe" layout="column" class="md-sidenav-left"
              md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
              ng-swipe-left="contentCtrl.toggleSidenav('left')">

    <md-toolbar class="skroll-toolbar">
      <!-- <sk-search ng-controller="SearchCtrl as ctrl" feature-flag="search.old" /> -->
  <!--       <input name="searchInput" placeholder="Search" ng-model="contentCtrl.searchState.searchText"/>
          <md-icon md-svg-icon="images/icons/ic_search_48px.svg" class="search-icon">
          </md-icon>
   -->

      <div layout="row" layout-align="space-between center">
        <md-icon md-svg-icon="images/icons/ic_search_48px.svg" class="search-icon" style="margin-left: 10px; margin-right: 10px">
        </md-icon>
         <md-input-container md-theme="default-dark" md-no-float style="padding-bottom: 12px; width:100%" >
             <input type="search"
                    name="searchInput"
                    autocomplete="off"
                    ng-model="contentCtrl.searchState.searchText"
                    ng-keydown=""
                    placeholder="Search"
           />
         </md-input-container>
        <button type="button" tabindex="-1" style="position: relative;
            line-height: 20px; text-align: center; width: 30px; height: 30px; cursor: pointer; border: none; border-radius: 50%; padding: 0; font-size: 12px; background: 0 0; margin: auto 5px;"
            ng-show="contentCtrl.searchState.searchActive" ng-click="contentCtrl.searchState.clear()">
          <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-hidden="true"></md-icon>
        </button>
      </div>

    </md-toolbar>

    <md-content ng-class="{'sk-lhs-search-hover': lhsCtrl.smodel.hover, 'sk-lhs-hover': !lhsCtrl.smodel.hover}" md-scroll-y flex class="md-padding" ng-controller="LHSLevelsCtrl as lhsCtrl" ng-hide="lhsCtrl.searchState.searchActive" >
      <sk-lhs ng-hide="!contentCtrl.documentModel.isTocLoaded"/>
    </md-content>
  <md-content ng-show="contentCtrl.searchState.searchActive">
     <sk-search />
  </md-content>

  </md-sidenav>
  <!-- end sidebar -->

  <!-- content -->
  <div layout="column" flex >

    <md-toolbar class="skroll-toolbar">
      <sk-toolbar />
    </md-toolbar>

    <md-content id="skrollport" sk-observe-scroll md-scroll-y>
      <div layout="row" flex>
        <!-- hide RHS when small media -->
        <div id="leftcurtain" hide-sm>
        </div>

        <div ng-controller="ViewPortCtrl as viewCtrl" style="width:100%">
          <md-content flex
            id="content"
            class="md-padding md-whiteframe-z3"
            ng-mouseup="viewCtrl.mouseUp($event)" ng-mousedown="viewCtrl.mouseDown($event)"
            ng-mousemove="viewCtrl.mouseMove($event)" ng-click="viewCtrl.paraClicked($event)"
            layout-padding>
              <sk-content/>
            </md-content>
        </div>
        <div hide-sm hide-md>
        </div>

      </div>
    </md-content>

  </div>
  <!-- end content -->

  <!-- right sidenav -->
  <md-sidenav layout="column" class="md-sidenav-right"
              md-component-id="right" md-is-locked-open="false" >

    <md-content>
      <pre id="rightPane"></pre>
    </md-content>

  </md-sidenav>


  <!-- end sidebar -->

</div>
<!-- end layout