
	<div layout="row" layout-align-gt-md="space-between center" layout-align="space-between center" flex style="height: 48px">

		<md-button ng-click="toolbarCtrl.toggleSidenav('left')" aria-label="menu" hide-gt-md>
			<md-icon md-svg-icon="images/icons/ic_menu_24px.svg"></md-icon>
		</md-button>


		<sk-trainer-toolbar feature-flag="trainer">
		</sk-trainer-toolbar>

    <img class="sk-logo" src="images/icons/skroll-logo-v2.png" ng-click="toolbarCtrl.navigateToLanding()"/>

    <div style="margin-right: 5px">

      <!-- Chrome extension -->
      <md-button id="sk-toolbar-chromeextension-button" ng-click="toolbarCtrl.openChromeExtensionLink()">
        <md-icon md-svg-icon="images/icons/ic_extension_24px.svg">
        <md-tooltip md-direction="bottom">
          Install Chrome Extension
        </md-tooltip>
      </md-button>

      <!-- feedback button -->
      <md-button id="sk-toolbar-send-feedback-button" ng-click="toolbarCtrl.showSendFeedbackDialog()">
        <md-icon md-svg-icon="images/icons/ic_feedback_24px.svg">
        <md-tooltip md-direction="bottom">
          Send feedback
        </md-tooltip>
      </md-button>

      <!-- share link -->
      <md-button id="sk-toolbar-share-button" ng-click="toolbarCtrl.showShareDialog()">
        <md-icon md-svg-icon="images/icons/ic_open_24px.svg">
        <md-tooltip md-direction="bottom">
          Share document link
        </md-tooltip>
      </md-button>

      <!-- email link -->
      <md-button ng-click="toolbarCtrl.openEmailDialog()">
        </md-primary><md-icon md-svg-icon="images/icons/ic_mail_24px.svg"></md-icon>
        <md-tooltip md-direction="bottom">
          Email document link
        </md-tooltip>

      </md-button>
    </div>
	</div>
