<md-toast class="skContextMenu">

	<md-button
	 	ng-click="ctrl.copySelection()"
	 	aria-label="Copy selected text"
	 	ui-zeroclip zeroclip-copied="copied=true" zeroclip-model="ctrl.selectedText">
	 	<md-tooltip>
	 		Copy selected text
	 	</md-tooltip>
	 	<md-icon md-svg-icon="images/icons/ic_content_copy_24px.svg"></md-icon>
	</md-button>


  <md-button ng-click='ctrl.copyLink()'>
		<md-tooltip>
 			Copy link
 		</md-tooltip>

		<md-icon md-svg-icon="images/icons/ic_link_24px.svg"></md-icon>
	</md-button>


	<md-button
	 	ng-click='ctrl.openEmailDialog()'
	 	aria-label="Email selected text">
	 	<md-tooltip>
	 		Email selected text
	 	</md-tooltip>
	 	<md-icon md-svg-icon="images/icons/ic_mail_24px.svg"></md-icon>
	</md-button>



	<md-button
	 	ng-click='ctrl.openTwitter()'
	 	aria-label="Tweet this">
   	<img src="images/icons/TwitterLogo_acee.png" width="24" height="24"
   			style="vertical-align:middle"/>
	 	<md-tooltip>
	 		Tweet this
	 	</md-tooltip>
	</md-button>

	<md-menu>
	 <!-- Trigger element is a md-button with an icon -->
	 <!-- md-theme="default-dark" was removed -->
	 <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
	   <md-icon md-svg-icon="images/icons/ic_view_column_24px.svg"></md-icon>
	 </md-button>
	 <md-menu-content>
	   <md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item>
	   <md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item>
	   <md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item>
	 </md-menu-content>
	</md-menu>

</md-toast>