<md-toast class="skContextMenu" style="right:inherit; bottom:inherit: width:inherit">

  <md-button
	 	ng-click="contextCtrl.copySelection()"
	 	aria-label="Copy selected text"
	 	ui-zeroclip zeroclip-copied="copied=true" zeroclip-model="contextCtrl.selectedText">
	 	<md-tooltip>
	 		Copy selected text
    </md-tooltip>
	 	<md-icon md-svg-icon="images/icons/ic_content_copy_24px.svg"></md-icon>
  </md-button>


  <md-button ng-click='contextCtrl.copyLink()'>
		<md-tooltip>
 			Copy link
 		</md-tooltip>

		<md-icon md-svg-icon="images/icons/ic_link_24px.svg"></md-icon>
	</md-button>


  <md-button
	 	ng-click='contextCtrl.openEmailDialog()'
	 	aria-label="Email selected text">
	 	<md-tooltip>
	 		Email selected text
    </md-tooltip>
	 	<md-icon md-svg-icon="images/icons/ic_mail_24px.svg"></md-icon>
  </md-button>


  <md-button
	 	ng-click='contextCtrl.openTwitter()'
	 	aria-label="Tweet this">
    <img src="images/icons/TwitterLogo_acee.png" width="24" height="24"
   			style="vertical-align:middle"/>
	 	<md-tooltip>
	 		Tweet this
    </md-tooltip>
  </md-button>


</md-toast>