<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Skroll</display-name>

    <servlet>
        <servlet-name>Base URL Servlet</servlet-name>
        <servlet-class>com.skroll.viewer.BaseURLServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Base URL Servlet</servlet-name>
        <url-pattern>/list/*</url-pattern>
        <url-pattern>/view/*</url-pattern>
        <url-pattern>/open/*</url-pattern>
    </servlet-mapping>


</web-app>
