
	<div layout="row" flex>
		<md-button ng-click="toggleSidenav('left')" aria-label="menu" hide-gt-sm>
			<md-icon md-svg-icon="images/icons/ic_menu_24px.svg"></md-icon>
		</md-button>

		<h1>{{ctrl.toolbarInfo.title}}</h1>

		<md-button ng-click="ctrl.toggleTrainerMode()" aria-label="trainer" ng-show="!ctrl.trainerToolbar.isTrainerMode">
		  <md-icon md-svg-icon="images/icons/ic_directions_bike_24px.svg" ></md-icon>
		</md-button>

		<md-button ng-click="ctrl.toggleTrainerMode()" aria-label="trainer" ng-show="ctrl.trainerToolbar.isTrainerMode">
		  <md-icon md-svg-icon="images/icons/ic_check_24px.svg" ></md-icon>
		</md-button>

		<md-button ng-click="toggleSidenav('right')" aria-label="annotation">
		  <md-icon md-svg-icon="images/icons/ic_text_format_24px.svg"></md-icon>
		</md-button>

		<md-button ng-click="showSimilar()" aria-label="annotation">
		  <md-icon md-svg-icon="images/icons/ic_visibility_24px.svg"></md-icon>
		</md-button>
	</div>
