<md-list>
  <md-list-item class="md-2-line" ng-repeat="results in searchCtrl.searchResults" >
    <div>
      <h3>{{results[0].header}}</h3>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="result in results">
          <p class="search-surrounting-text-container search-surrounting-text-clamp" md-highlight-text="searchCtrl.searchState.searchText" md-highlight-flags="ig" scroll-to-paragraph="{{result.paragraphId}}">{{result.displayText}}</p>
          <md-divider/>
        </md-list-item>
      </md-list>
    </div>
  </md-list-item>
</md-list>