/* variables */
/* variables */
* {
  outline: none; }

/**
* icons
**/
md-icon {
  height: 24px;
  width: 24px; }

/**
* Skroll Main
**/
.main {
  /*background-color: $skrollport-color;*/
  -webkit-overflow-scrolling: touch;
  height: 100%; }

/**
* context menu
*
*  Width is the same as the width for the md-icon
**/
md-toast.skContextMenu {
  min-height: 40px;
  min-width: 160px;
  z-index: 199;
  min-height: 30px;
  padding-right: 12px;
  padding-left: 12px;
  right: inherit;
  bottom: inherit;
  width: inherit;
  padding: inherit; }
  md-toast.skContextMenu .md-button {
    min-width: 24px;
    margin: 6px 0px; }
  md-toast.skContextMenu .md-toast-content {
    background-color: #e0e0e0;
    min-height: 30px;
    transition-property: all;
    transition-duration: 0.1s;
    /*transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);*/
    transition-timing-function: ease-out;
    transition-delay: 0s; }

/**
* SkrollPort
**/
#skrollport {
  background-color: #e0e0e0; }
  #skrollport #leftcurtain {
    width: calc(10% - 60px);
    min-width: 0px;
    max-width: 200px; }

/**
* Docivew
**/
#content {
  /*	min-width: 600px;
  	width    : calc(80% + 120px);
  	max-width: 900px;
  	padding-left: 7.5%;
  	padding-right: 6%;
  */ }
  @media (min-width: 960px) {
    #content {
      min-width: 600px;
      width: calc(80% + 120px);
      max-width: 900px;
      padding-left: 7.5%;
      padding-right: 6%; } }
  @media (min-width: 600px) and (max-width: 959px) {
    #content {
      min-width: 600px;
      width: calc(80% + 120px);
      max-width: 900px;
      padding-left: 7.5%;
      padding-right: 6%; } }
  @media (max-width: 599px) {
    #content {
      width: 100%;
      padding-left: 7.5%;
      padding-right: 6%; } }
  #content #docViewIframe {
    background-color: #ffffff; }

/**
* NAV
**/
md-sidenav#navframe.md-locked-open {
  width: 25%;
  /*width: 250px; before we got levels*/
  min-width: 240px;
  max-width: 540px; }

/*
*  Landing search
*/
.sk-landing-search {
  width: 100%; }
  @media (min-width: 960px) {
    .sk-landing-search {
      padding-top: 100px; } }
  @media (min-width: 600px) and (max-width: 959px) {
    .sk-landing-search {
      padding-top: 20px; } }
  @media (max-width: 599px) {
    .sk-landing-search {
      padding-top: 20px; } }
  .sk-landing-search .search-frame {
    height: 45px; }
    .sk-landing-search .search-frame .search-input {
      border: none;
      padding: 7px;
      font-size: 22px;
      outline: none;
      /*			width: 645px;*/
      color: rgba(0, 0, 0, 0.87); }
    .sk-landing-search .search-frame md-chips {
      padding-left: 10px;
      padding-right: 10px; }
      .sk-landing-search .search-frame md-chips md-chips-wrap {
        display: flex;
        flex-direction: row; }
        .sk-landing-search .search-frame md-chips md-chips-wrap .md-chip-input-container {
          width: 100%; }
  .sk-landing-search .sk-logo {
    margin-bottom: 50px; }
  .sk-landing-search .list {
    padding-top: 50px;
    width: 700px; }
    .sk-landing-search .list :focus {
      outline: none;
      border: 0; }
    .sk-landing-search .list .list-item h4 {
      font-weight: normal;
      margin-top: 10px;
      margin-bottom: 10px; }
    .sk-landing-search .list md-list-item:hover {
      background: rgba(63, 81, 181, 0.2); }

/*
* sk-search-box
*/
sk-search-box .search-button {
  height: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 60px;
  opacity: 0.75; }
sk-search-box .search-icon {
  width: 45px;
  height: 45px; }

/*
*
*/
.sk-landing-search-results .sk-landing-search-results-left {
  background-color: #BDBDBD;
  width: 120px;
  height: 80px;
  padding-left: 6px;
  text-align: center; }
.sk-landing-search-results .sk-landing-search-results-searchbox {
  background-color: #BDBDBD;
  height: 80px; }
.sk-landing-search-results .sk-landing-search-results-refiner {
  margin-top: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #e0e0e0; }
  .sk-landing-search-results .sk-landing-search-results-refiner button {
    margin: 0px;
    font-size: 12px;
    padding: 0px;
    line-height: 16px;
    min-height: 16px;
    min-width: auto;
    margin-right: 20px;
    color: #9E9E9E; }
.sk-landing-search-results .sk-landing-search-results-panel {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #F5F5F5;
  max-width: 1000px; }
  .sk-landing-search-results .sk-landing-search-results-panel .md-title {
    color: #212121; }
  .sk-landing-search-results .sk-landing-search-results-panel .category-panel md-card {
    width: 280px;
    margin-top: 25px;
    margin-right: 45px;
    padding: 6px; }
    .sk-landing-search-results .sk-landing-search-results-panel .category-panel md-card md-card-header {
      padding: 2px;
      font-size: 14px;
      border-bottom: 1px;
      border-bottom-color: #9E9E9E;
      border-bottom-style: solid; }
    .sk-landing-search-results .sk-landing-search-results-panel .category-panel md-card md-card-content .content-div {
      padding: 5px;
      font-size: 14px;
      border-bottom: 1px;
      color: #9E9E9E;
      border-bottom-color: #E0E0E0;
      border-bottom-style: solid;
      cursor: pointer; }
    .sk-landing-search-results .sk-landing-search-results-panel .category-panel md-card md-card-content .content-div:hover {
      background-color: rgba(25, 118, 210, 0.2); }
    .sk-landing-search-results .sk-landing-search-results-panel .category-panel md-card md-card-content .content-div:last-child {
      border: none; }
    .sk-landing-search-results .sk-landing-search-results-panel .category-panel md-card md-card-actions button {
      font-size: 12px;
      color: #9E9E9E; }

/*
* LHS
*/
sk-lhs .menu-toggle-button {
  text-align: left;
  text-transform: none;
  font-size: 18px;
  width: 100%;
  margin: 0px auto 5px 20px;
  /*    margin-bottom     : 20px;*/ }
  sk-lhs .menu-toggle-button .menu-toggle-icon {
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out; }
    sk-lhs .menu-toggle-button .menu-toggle-icon.toggled {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg); }

md-tooltip.sk-lhs-tooltip {
  background: black;
  font-size: 16px; }

sk-lhs ul.toc {
  color: #202020;
  background: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  max-height: 12100px;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
  margin: 0px;
  list-style: none;
  padding: 0; }
sk-lhs .toc li {
  list-style-position: inside; }
sk-lhs .toc :hover {
  color: blue;
  cursor: pointer; }
sk-lhs .toc .level-1 {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.5em; }
  sk-lhs .toc .level-1 md-divider {
    padding-top: 5px;
    border-width: 1px;
    border-color: rgba(32, 32, 32, 0.45); }
  sk-lhs .toc .level-1 .term {
    margin-left: 7px; }
sk-lhs .toc .level-2 {
  padding-left: 15px;
  font-size: 14px;
  margin-bottom: 2px;
  line-height: 1.5em;
  color: gray; }
  sk-lhs .toc .level-2 md-divider {
    padding-top: 5px;
    margin-right: 150px;
    border-top-style: dashed; }

.search-results-header-list-item {
  min-height: 0px !important;
  padding: 0px !important; }
  .search-results-header-list-item .search-results-header-list-item-inner-container {
    width: 100%; }
  .search-results-header-list-item .search-results-header-parent {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 10px; }
    .search-results-header-list-item .search-results-header-parent .search-results-header {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-align: justify;
      line-height: 26px;
      margin: 0px; }
  .search-results-header-list-item .search-results-list {
    padding: 0px; }
    .search-results-header-list-item .search-results-list .search-results-list-item {
      min-height: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 30px;
      padding-right: 10px; }
      .search-results-header-list-item .search-results-list .search-results-list-item .search-result {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-align: justify;
        line-height: 22px; }

.md-whiteframe-1dp {
  background: #fff;
  margin: 30px;
  height: 100px; }

.highlight {
  color: #FF6138; }

.selected-para-rhs {
  background-color: #fff7e5; }

.searched-text-rhs {
  color: #FF6138; }

.selected-list-item {
  background-color: gainsboro; }

/*
* Toolbar
*/
md-toolbar .sk-logo {
  cursor: pointer;
  width: 120px;
  height: 35px; }
  @media (min-width: 960px) {
    md-toolbar .sk-logo {
      margin-left: 400px; } }
  @media (min-width: 600px) and (max-width: 959px) {
    md-toolbar .sk-logo {
      margin: auto; } }
  @media (max-width: 599px) {
    md-toolbar .sk-logo {
      margin: auto; } }
@media (min-width: 600px) and (max-width: 959px) {
  md-toolbar #sk-toolbar-chromeextension-button {
    display: none; } }
@media (max-width: 599px) {
  md-toolbar #sk-toolbar-chromeextension-button {
    display: none; } }

::-moz-selection {
  background: #F8E0F7; }

::selection {
  background: #F8E0F7; }

::-ms-clear {
  display: none; }

.pdfjs #viewerContainer {
  position: fixed;
  top: 48px;
  left: 300px; }
.pdfjs .toolbar {
  display: none; }

/*# sourceMappingURL=app.css.map */
