/**
Size of the header in toolbar
**/
md-toolbar h1 {
    font-size: 1.0em;
    font-weight: 200;
    margin: auto;
}

/**
To configure the list in the sidebar
**/
md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

md-toolbar.skroll-toolbar {
    height: 48px;
    min-height: 48px;
}


/**
create a blur effect
**/
sk-viewport .blurry-text {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}


md-sidenav.md-locked-open {
    width: 250px;
    min-width: 250px;
    max-width: 300px;
}

/**
* Styles related to sk-lhs
*/
sk-lhs .menu-list {
    background: #fff;
    overflow: hidden;
    position: relative;
    z-index: 1;
    max-height:12100px;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height;
    margin: 0px;
    list-style: none;
    padding: 0;
}


sk-lhs .menu-toggle-button {
    text-align: left;
    width: 100%;
}

.menu-toggle-button .menu-toggle-icon {
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.menu-toggle-button .menu-toggle-icon.toggled {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.menu-list li {
    list-style-position: inside;    
}

.menu-list button.md-button {
    font-size:16px;
    padding: 5px 5px 5px 5px;
    text-transform: none;
}


sk-lhs .menu-list.ng-hide {
    max-height: 0px;
}