<div layout="row" layout-align="{{boxAlign}}" style="width:100%;">
  <md-whiteframe class="md-whiteframe-z1"  layout-align="center center" flex-gt-lg="50" flex-gt-md="66" flex="80" style="background:white; border: 1px solid #e0e0e0;" >
    <div layout="row"  flex class="search-frame" style="background:white;">
      <md-chips
        ng-model="autoCompleteCtrl.searchState.selectedChips"
        md-autocomplete-snap=""
        md-transform-chip="autoCompleteCtrl.transformChip($chip)"
        md-require-match="autoCompleteCtrl.autocompleteRequireMatch"
        md-on-add="autoCompleteCtrl.onItemSelectedInAutocomplete(item)"
        md-on-remove="autoCompleteCtrl.onItemSelectedInAutocomplete(item)"
        style="width:100%;"
        size="40">

        <md-autocomplete
          md-selected-item="autoCompleteCtrl.selectedItem"
          md-autofocus="true"
          md-autoselect="true"
          md-search-text="autoCompleteCtrl.searchState.searchText"
          md-search-text-change="autoCompleteCtrl.onAutocompleteSearchTextChange()"
          md-items="item in autoCompleteCtrl.querySearch(autoCompleteCtrl.searchState.searchText)"
          md-no-cache="true"
          md-item-text="item.name"
          placeholder="{{autoCompleteCtrl.placeholdertext}}">
          <md-item-template  style="border-box: 2px solid">
          <span ng-class="{ticker : item.type == 'company', category : item.type == 'category', formtype : item.type == 'formtype' }" md-highlight-text="autoCompleteCtrl.searchState.searchText">
             {{item.field2}} [{{item.field1}}]
          </span>
          </md-item-template>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <strong>{{$chip.field1}}</strong>
            <em><style display:none>({{$chip.type}})</style></em>
            <em><style display:none>({{$chip.field2}})</style></em>
            <em><style display:none>({{$chip.id}})</style></em>
          </span>
        </md-chip-template>
      </md-chips>

      <md-button class="md-raised md-primary search-button" ng-click="autoCompleteCtrl.onEnter()">
        <md-icon md-svg-icon="images/icons/ic_search_48px.svg" class="search-icon">
        </md-icon>
      </md-button>
    </div>
  </md-whiteframe>
</div>