<!-- start file selection -->
<div layout="column" id="uploadForm" ng-show="!ctrl.isDocAvailable && !ctrl.isProcessing" flex
     style="align-items: center; height:100%; overflow-y:auto; ">

  <md-toolbar layout="row">
    <h1>Welcome to Skroll!</h1>
  </md-toolbar>
  <md-content>
    <md-list>
      <md-item ng-repeat="id in ctrl.userDocumentIds | orderBy:id">
        <md-item-content>
          <div class="md-tile-left">
              <img ng-src="{{item.face}}" class="face" alt="{{item.who}}">
          </div>
          <div class="md-tile-content">
            <md-button ng-click="ctrl.loadDocument('{{id}}')"><h3>{{id}}</h3></md-button>
          </div>
        </md-item-content>
        <md-divider></md-divider>
      </md-item>

      <md-item>
        <input sk-file-upload id="fileupload" type="file" name="files[]" data-url="restServices/doc/upload"/>
    </md-item>
    </md-list>
  <md-content>
  <div style="height:1px"></div>
</div>
<!-- end file selection screen -->
